/* base reset */
* {
    margin: 0;
    padding: 0;
}
  
/* box-sizing and font sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

/* custom colors */
:root {
    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

/* global styles */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 500;
    color: var(--desaturated-blue);
}

#title::after {
    content: "";
    background-color: var(--pale-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
}

#card {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

img {
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#title {
    font-size: 24px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

#description {
    width: 275px;
}

#pricing {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 290px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* pricing container contents */
#icon{
    width: 35px;
}
#price-plan {
    margin-right: 40px;
}
#plan{
    font-weight: 700;
    color: var(--dark-blue);
}
#change {
    color: var(--bright-blue);
}

#payment {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 290px;
    border-radius: 15px;
    border-width: 2px;
    border-color: var(--bright-blue);
    margin-bottom: 20px;
    box-shadow: 0 15px 15px hsla(245, 75%, 52%, 0.25);
}

#cancel {
    color: var(--desaturated-blue);
    text-decoration: none;
    margin-bottom: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }